version: 2

updates:
  - package-ecosystem: github-actions
    open-pull-requests-limit: 20
    directories:
      - "/"
      - "./resume/themes/escemi"
      - "/.github/actions/**/*"
    schedule:
      interval: weekly
    groups:
      github-actions-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: weekly

  - package-ecosystem: "docker"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      docker-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directories:
      - ".github/actions/**/*"
    versioning-strategy: increase
    schedule:
      interval: "weekly"
    groups:
      npm-dependencies:
        patterns:
          - "*"
