name: Main CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  ci:
    name: CI Pipeline
    uses: ./.github/workflows/shared-ci.yml
    permissions:
      actions: read
      contents: read
      id-token: write
      packages: read
      pull-requests: write
      statuses: write
      security-events: write

  update-pdfs:
    name: Commit PDFs
    runs-on: ubuntu-latest
    needs: ci
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - id: get-pdfs-artifacts-ids
        name: Get PDFs Artifacts IDs
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          GENERATED_PDFS: ${{ needs.ci.outputs.generated-pdfs }}
        with:
          result-encoding: string
          script: |
            const generatedPdfs = JSON.parse(process.env.GENERATED_PDFS);
            return generatedPdfs.map(pdf => pdf["artifact-id"]).join('\n');

            return artifactIds;

      - name: Download PDFs
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          artifact-ids: ${{ steps.get-pdfs-artifacts-ids.outputs.result }}
          path: ${{ needs.ci.outputs.pdfs-root-path }}

      - uses: hoverkraft-tech/ci-github-common/actions/create-and-merge-pull-request@c314229c3ca6914f7023ffca7afc26753ab99b41 # 0.30.1
        with:
          branch: chore/update-resume-pdfs
          commit-message: "chore(resume): update generated resume PDFs"
          title: "chore(resume): update generated resume PDFs"
          body: |
            This PR updates the generated resume PDF files.

            The PDFs are generated automatically from the JSON resume data.

            [skip ci]
